<div class="card">
    <div class="main">
        <h5>Credit Card Authorization Form</h5>
        <img src="https://tse4.mm.bing.net/th?id=OIP.bRquQ_uBaHr_orKAmKuYcgHaE5&pid=Api&P=0&w=229&h=152" height="50px"
            width="50px" />
    </div>
    <div class="card-body">
        <form [formGroup]="detailsForm">
            <div class="form-group">
                <label for="cardNumber">Credit Card Number<span>*</span></label>
                <input formControlName="cardNumber" type="text" class="form-control" id="cardNumber"
                    aria-describedby="emailHelp" placeholder="Enter credit card number">
                <div *ngIf="
                  (detailsForm.get('cardNumber').touched ||  detailsForm.get('cardNumber').dirty) &&
                  detailsForm.get('cardNumber').invalid
                ">
                    <p *ngIf="detailsForm.get('cardNumber').errors?.required">
                        Credit Card Number Required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="cardHolder">Card Holder</label>
                <input formControlName="cardHolder" type="text" class="form-control" id="cardHolder"
                    placeholder="Enter Card Holder">
                <div *ngIf="
        (detailsForm.get('cardHolder').touched ||  detailsForm.get('cardHolder').dirty) &&
        detailsForm.get('cardHolder').invalid
      ">
                    <p *ngIf="detailsForm.get('cardHolder').errors?.required">
                        Card Holder Required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="expiredDate">Expiration Date</label>
                <input formControlName="expirationDate" type="date" class="form-control" id="expiredDate"
                    placeholder="Enter expiration date">
                <div *ngIf="
        (detailsForm.get('expirationDate').touched ||  detailsForm.get('expirationDate').dirty) &&
        detailsForm.get('expirationDate').invalid || detailsForm.get('expirationDate').hasError('errorCpf')
      ">
                    <p *ngIf="detailsForm.get('expirationDate').errors?.required">
                        Expiration date Required</p>
                    <p *ngIf="detailsForm.get('expirationDate').hasError('dateError')">
                        selected date shouid be greater than current date</p>
                </div>
            </div>
            <div class="form-group">
                <label for="securityCode">Security Code - CCV</label>
                <input formControlName="securityCode" type="text" class="form-control" id="securityCode"
                    placeholder="Enter security code" allow-only-numbers maxlength="3">
            </div>
            <div class="form-group">
                <label for="amount">Amount </label>
                <input formControlName="amount" type="number" class="form-control" id="amount"
                    placeholder="Enter amount" minlength="0">
                <div *ngIf="
        (detailsForm.get('amount').touched ||  detailsForm.get('amount').dirty) &&
        detailsForm.get('amount').invalid
      ">
                    <p *ngIf="detailsForm.get('amount').errors?.required">
                        Amount Required</p>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="addCardDetails()">Submit</button>
        </form>
    </div>
</div>